node_modules
**/node_modules
dist
**/dist
!server/dist/
!server/dist/**
!client/dist/
!client/dist/**
data
.git
.gitignore
.env
.env.*
!.env.example
*.log
.DS_Store
.cursor
README.md
docker-compose.yml
Caddyfile
